@import '../colors.scss';

.blog-background {
    background-color: $primary-pink;
    height: 100%;
}

.blog-content {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-left: 50px;
    top: -100%;
}
