@import '../colors.scss';

.blog-background {
    background-color: $primary-pink;
}

.blog-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 5%;
}
