// fonts
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&&family=Inter');

.scroll-container {
    height: 100vh;
    overflow-y: scroll;
}

.section-container {
    height: 100%;
    position: static;
}

.background {
    height: 100%;
    width: 100%;
    position: static;
}

.foreground {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    pointer-events: none;
}

body {
    margin: 0;
}
