// fonts
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&&family=Inter');

.scroll-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.section-container {
    height: 100%;
    scroll-snap-align: start;
    position: static;
}

body {
    margin: 0;
}
