.demo-background {
    background-color: #ffffff;
    height: 100%;
    scroll-snap-align: start;
}

.demo-content {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed; 
    top: 0;
}
